
    div{
        display: flex;
        flex-direction: column;
        background: transparent;
        border: 1px solid black;
        border-radius: 15px;
        align-items: center;
        width: 25%;
        margin: auto;
        box-shadow: 0 0 50px #000;
        margin-top: 10%;
        padding: 1.5em;
    }
    .signin{
        font-size: 30px;
        text-decoration: none;
        border-radius : 15px;
        color : red;
        margin-top: 30px;
        padding: 10px;
        margin: .4em auto;
        cursor: pointer;
    }
    input{
        padding: 5px;
        outline: none;
        width: 80%;
        border: 2px dashed red;
        margin-top: 5px;
    }
    #label, #warning-label{
        margin-top: 40px;
        font-size: 25px;
        color: white;
        align-self: flex-start;
        margin-left: 30px;
    }
    body{
        background-image: url(../images/ImagineFundal.jpg);
    }
    h1{
        padding: 20px;
    }
    .linkbuton{
        text-decoration: none;
    }
    .hide{
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
    }